<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <title>Tugas VueJS</title>
    <style>
      html,
      body {
        height: 100%;
      }

      html {
        display: table;
        margin: auto;
      }

      body {
        display: table-cell;
      }
    </style>
  </head>
  <body>
    <div id="todoApp">
      <form v-on:submit.prevent="addTodo">
        <h1>To Do App</h1>
        <input v-model="newTodo" id="new-todo" placeholder="Masukkan To Do" />
        <button>Tambah</button>
      </form>
      <ul>
        <li
          is="todo-item"
          v-for="(todo, index) in todos"
          v-bind:key="todo.id"
          v-bind:title="todo.title"
          v-on:remove="todos.splice(index, 1)"
        >
          {{ title }}
          <button v-on:click="$emit('remove')">Hapus</button>
        </li>
      </ul>
    </div>
    <script src="app.js"></script>
  </body>
</html>
